@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body, html {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #88f;
}

.App {
  @include flex(column, space-around, center);
  margin: 0 auto;

  h1 {
    font-family: monospace;
  }

  img {
    width: 100px;
    height: auto;
  }
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 10px solid rgba(255,255,255,.1);
  border-radius: 50%;
  border-top-color: #fff;
  box-sizing: border-box;
  animation: spinner 1s linear infinite;

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}

