@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-size: 10px;
  @media (max-width:1023px) {
    font-size: 8px;
  }
  @media (max-width:767px) {
    font-size: 7px;
  }
  @media (max-width:424px) {
    font-size: 6px;
  }

}

.animated-bg {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 200vh;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    width: 250%;
    height: 250%;
    top: -75%;
    left: -75%;
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgb(83, 47, 107) 0%, rgb(187, 81, 81) 50%, rgb(253, 156, 19) 100%);

    animation: rotate 5s linear infinite;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;

  margin: 0 auto;

  h1 {
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 4px #0008;
    letter-spacing: 2px;
    color: #fffd;
    font-weight: 400;
    font-size: 3rem;
  }

  .author {
    position: absolute;
    top: 0px;
    right: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 4px #0008;
    color: #fffd;
    font-size: 2rem;
    font-weight: 700;
    @media (max-width: 767px) {
      display: none;
    }
    a {
      font-weight: 400;
      text-decoration: none;
      display: block;
      color: #fff8;
      line-height: 2rem;
      &:hover {
        color: #4ffb;
      }
      &::before {
        content: '\21E8';
        margin-right: 4px;
      }
    }
  }
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 10px solid rgba(255,255,255,.1);
  border-radius: 50%;
  border-top-color: #fff;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}

